<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title>CAS</title>
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>
<body>
    <main class="container">

    <main class="container">
        <nav>
            <ul>
                <li><header>
                    <h1>Card Authentication System (CAS)</h1>
                </header></li>
            </ul>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/cards}">Cards</a></li>
                <li><a th:href="@{/readers}">Readers</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>
